#cindexId{
	text-align:right;
}

#pay{
	margin-top:20px;
}

#point{
	margin-top:20px;
}

ul {
  font-size: 0;
  position: relative;
  padding-left: 370px;
  width: 1110px;
  margin: auto;
  user-select: none;
}

li {
  display: inline-block;
  width: 370px;
  height: 50px;
  background: #282828;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  color: #eeeeee;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.slider {
  display: block;
  position: absolute;
  margin-left:370px;
  bottom: 0;
  left: 0;
  height: 4px;
  background: #c84646;
  transition: all 0.5s;
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
  -webkit-animation: rippleDrop .6s linear;
  animation: rippleDrop .6s linear;
}

@-webkit-keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}

@keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}

#pay{
	width:100%;
	text-align : center;
}

#point{
	width:100%;
	text-align : center;
}

#table{
	display:inline-block;
	box-shadow: 5px 5px 3px 1px #9C9C9C;
}

table.list {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
}

table.list thead th {
	padding: 10px;
	font-weight: bold;
	color:#eeeeee;
	border-right:1px solid #000;
	border-bottom: 3px solid #c84646;
	background: #282828;
}

table.list tbody th {
	width: 350px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	background: #ffffff;
}

table.list td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	background: #ffffff;
}