#leftArea{
	float:left;
	width: 819px;
	height: 920px;
	border:solid;
}
#rightUpArea{
	width: 819px;
	height: 457px; 
/* 	background-color: yellow; */
	border:solid;
	float: right;
}
#rightDownArea{
	width: 819px;
	height:457px;
/* 	background-color:blue; */
	border:solid;
	float:right;
}
#btnOrder{
	width: 200px;
	height:190px;
	float: left;
	font-size:50px;
}