#menu_left{
	width: 819px;
	height:920px;
	border:solid;
	float:left;
	overflow:auto; /** div에 overflow 속성을 사용하여 테이블에 스크롤바 생성**/
}

#menu_right{
	width: 819px;
	height:920px;
	border:solid;
	float:left;
	position: relative;
}

#divImage{
	position:absolute;
	left:280px;
	bottom:560px;
}

#menu_right_inner{
	position:absolute;
	left:250px;
 	bottom: 420px;
}

body{
	font-size:15px;
}

#list{
	border-collapse: collapse;
	text-align : center;
	width : 100%;
}

#list th {
	background-color: #ccc;
	border : 1px solid;
	padding: 20px;
}

#list td {
	border : 1px solid;
	padding: 20px;
}

.btn{
	font-size : 30px;
}

.group{
	font-size : 40px;
}